*{
    
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: #204862;
      

}

h1{
    color: #fff;
    text-align: center;
}
form h3{
    color:brown;
    padding: 1px;
}

.form-bus{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    
}
.form_titulo{
    background: olivedrab;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    border-top-left-radius:7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid orangered;
}
.contenedor{
    padding: 10px 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    top: 50%;
    left: 50;
   
}


input,form a{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;

}

.input-400{
    width: 100%;
}

input[type="submit"]{
    background: grey;
    color: #f2f2f2;
    margin: auto;
   
    padding: 10px 40px;
  
    cursor: pointer;
    font-size: 16px;
    border: none;

}
input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(1.05);
}

form a{
    text-decoration:none;
    padding: 1em;
    background: grey;
    color: #f2f2f2;
    margin: auto;
    font-size: 16px;
    border: none;  
}
form a:hover{
    opacity: 1;
}
form a:active{
    transform: scale(1.05);
}



